*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Joti One', cursive;;
    scroll-behavior: smooth;
    background:#D8E3E7;
}
.nav_bar_link:hover{
    color :#fa9a2d;
    transition: all 0.3s ease;
}
.nav_bar{
    background:#D8E3E7;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    position: sticky;
    top: 0;
    z-index:999;
}.nav_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%; 
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
 } .img_cont
{ margin: 2px;
    width: 50%;
    padding: 8px;
}img{
    float:left;
    padding:0 10px 0 0;
} #navbar_logo{

  background: #f12711;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
   

  
  
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    font-display: flex;
    align-items: center;
    cursor:pointer;
    text-decoration: none;
    font-size: 3rem;
    padding: 20px;   
}
.nav_menu{
    display:flex;
    align-items: center;
    list-style: none;
}
.navbar_items{
    height: 80px;
}.nav_bar_link{
    color: #0781c8;
    display: flex;
    align-items:center;
    justify-content:center;
    width: 125px;
    text-decoration:none;
    height:100%;  
  
/* .nav_bar_link :hover{
    color :#0c0c0c;
    transition: all 0.3s ease; */

}

.homeOne{
    background:#D8E3E7;
    padding:100px;

}.homeOne img{
  border-radius: 20%;
}
.homeOne_container{
    display:inline-flex ;
    flex-direction:column;
    justify-content: space-between;
    max-width:1200px;
    margin:0 auto;
    height:90%;
    text-align:center;
    padding:20px;
    padding-left: 300px;
     
} .homeOne_container .static{
    font-size: 40px;
    font-weight: 400;
    color: black;

}.homeOne_container .dyanamic{
    margin-left: 15px;
    height: 400px;
    line-height: 40px;
    overflow: hidden;
}.dyanamic li{
    color: #0781c8;
    list-style: none;
    font-size: 40px;
    font-weight:200;
    position: relative;
    top: 0;
    animation: slide 30s steps(10) infinite;
}@keyframes slide{
    100%{
        top: -360px;


    }
}.dyanamic li span{
    position: relative;
}.dyanamic li span::after{
    content:"";
    position:absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background:#D8E3E7;
    border-left: 2px solid #D8E3E7;
   animation: slide 3s steps(15) infinite;
}@keyframes slide{
    100%{
        left:100%;
        margin:0 -35px 0 35px;


    }
}
.img_card
{ 
    margin: 2px;
    width: 75%;
    padding:15px;
    border-radius: 20%;
}img{
    
    float:left;
    padding:0 10px 0 0;

}.intro{
    font-size:50px;
    margin-top: 10px; 
    color: #fff;
    align-items:center;
    justify-content:center;
  
  
}.intro span{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 20%;

}.description{
   
    margin-top: 10px; 
    font-size:50px;
    color: #fff;
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -mo-text-fill-color: transparent;
  

}.highlight{
    border-bottom: 4px solid #f12711  ;
}
    @media screen and(max-width:768px)
    {.intro
        {
            font-size: 60px;
        }.description{
        font-size:40px;
    }
    }
    /*about*/
    .aboutOne{

        background-color: D8E3E7;;     
           padding:10rem 0;
   
    }.work{
        text-align: center;
        margin-top: 200px;


    }.about_container{
       
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 90%;
        z-index: 1;
        width: 100%;
        max-width: 1500px;
        padding: 0 100px; 
    } .main_content  {
        color: #fff;
        width: 100%;
        align-content: center;
        margin: 50px;

    } .main_content h1  {
       
        font-size: 2rem;
        background: #3A1C71;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color:transparent;
        -moz-text-fill-color:transparent; 
         text-transform:uppercase;
        margin-bottom: 32px;
     }  .main_content   {
        color: #fff;
        width: 100%;
      }
      .main_content  h3{
          margin-top: 1 rem;
          font-size: 1 rem;
          color: #713c9a;
          

          /* font-weight: 1 rem; */

      }.service1{
        background-color: #D8E3E7;;        
    }.row{
        position: relative;
        width: 700px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 400px;
        padding: 300px;
        transition: 0.5s;
    }.row :hover{
        height: 350px;
   
      }row::after{
          content:"";
          display: table;
          clear:both;

          }
          /* Styling skill section */
          .skills-area {
            display: flex;
            flex-direction: column;
            padding:90px;
           
          }
          
          .skill {
            position: relative;
            margin-bottom: 30px;
          }
          
          .skill-title {
            font-size: 25px;
            margin-bottom: 50px;
            
            text-shadow: 2px 2px #7ec3dc;
          }
          
          .skill-bar {
            width: 50%;
            background: rgba(255, 255, 255, 0.6);
            height: 10px;
            z-index: -1;
            border-radius: 10px;
            position: absolute;
          }
          
          .skill-fill {
            background: rgb(109, 109, 148);
            height: 17px;
            border-radius: 10px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 30px;
            overflow: hidden;
          }
          
          .skill-percent {
            font-size: 17px;
            color: #090101;
          }
          
          .graphics {
            animation: graphics 2s infinite;
            width: 50%;
          }
          
          .photography {
            animation: photography 2s infinite;
            width: 60%;
          }
          
          .frontend {
            animation: frontend 2s infinite;
            width: 70%;
          }
          
          @keyframes graphics {
            from {
              width: 0;
            }
            to {
              width: 50%;
            }
          }
          
          @keyframes photography {
            from {
              width: 0;
            }
            to {
              width: 50%;
            }
          }
          
          @keyframes frontend {
            from {
              width: 0;
            }
            to {
              width: 70%;
            }
          }
            
          @keyframes backend {
            from {
              width: 0;
            }
            to {
              width: 70%;
            }
          }
           .card{   
               color: #f0f0f0;
               padding: 0 10px;
               margin: 0 10px;
               /* max-width: calc(32%-20px); */
               height: 120px;
               display: flex;
               flex-direction: row;
               justify-content: center;
               align-items: center;
           
           }.skill-Title,#work-title,#tools{
             color: #f0f0f0;
             text-align: center;
             font-size: 2rem;
             background: #3A1C71;  /* fallback for old browsers */
             background: -webkit-linear-gradient(to top, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
             background: linear-gradient(to top, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
             background-size: 100%;
             -webkit-background-clip: text;
             -moz-background-clip: text;
             -webkit-text-fill-color:transparent;
             -moz-text-fill-color:transparent; 
              text-transform:uppercase;
             margin-bottom: 15px;
           }#skills-detail{
            font-family: 'Anybody';
            font-family: 'Lobster';
            color: #0781c8;;

           }.footer{
             background:#aeccd7;
             color: #161515;
             height: 350px;
             position: relative;
             font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
             padding-left: 300px;
             
            
           }.footer .footer-bottom{
            background:#91acb6;
             color:#ffffff;
             height: 30px;
             width: 100%;
             text-align: center;
             position: absolute;
             bottom: 0px;
             left: 0px;
             padding-top: 0px;
             font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
           }#phone{
             margin-left: 0px;
           }.footer img{
             width:50px;
             background: none;
             border-radius: 30%;
           }.footer a{
             text-decoration: none;
             background: none;
             color: #131212;
             font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

           

           
           }.footer span{
              font-weight: 900;
              font-size: larger;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              background-color: #242424;
             
           } .github img{
             background:none;
             border-radius: 50%;
           }.github{
            
             font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 

           }.footer span,#table-rows{
             font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
             
           }#bottom .a{
           
             color: #131212;
             text-decoration: none;
             font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

         
           }#table-rows{
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: blueviolet;
            padding-left: 100px;
            padding-bottom:50px;
            
          }#col{
            padding-left:100px;

          } .contactTitle{
            color: #f0f0f0;
            text-align: center;
            font-size: 2rem;
            background: #3A1C71;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to top, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to top, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color:transparent;
            -moz-text-fill-color:transparent; 
             text-transform:uppercase;
            margin-bottom: 15px;
          }.use{
            padding-left:250px;
            /* margin-bottom: 200px; */
          }

           


           

      
       
     